<footer>
    <div class="footer">
        <div class="footer-name">
            <h1>VIKAS RAI</h1>
            <span>Developer</span>
        </div>
        <div class="services">
            <ul>
                <li><a href="">Services</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Projects</a></li>
            </ul>
        </div>
        <div class="social-media">
            <ul>
                <li><a href="" ><i class="uil uil-facebook-f"></i></a></li>
                <li><a href=""><i class="uil uil-instagram"></i></a></li>
                <li><a href="https://github.com/Raisahab77" target="_blank"><i class="uil uil-github"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="lower">This site is developed and managed by vikas rai</div>
</footer>